<section class="my-projects">
  <h2 class="my-projects-title">MY <span class="accent">PROJECTS</span></h2>
  <ul class="my-projects-list">
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/wallet-webservice.jpg"
        alt="Wallet Webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
<div class="project-item-box"><h3 class="project-name">Wallet Webservice</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/green-harvest-online-store.jpg"
        alt="Green harvest online store"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">Green harvest online store</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/english-excellence-webservice.jpg"
        alt="English excellence webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">English excellence webservice</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/power-pulse-webservice.jpg"
        alt="Power pulse webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">Power pulse webservice</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/mimino-website.jpg"
        alt="Mimino website"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"> <h3 class="project-name">Mimino website</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li></div>
     
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/vyshyvanka-vibes-landing-page.jpg"
        alt="Vyshyvanka vibes Landing Page"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">Vyshyvanka vibes Landing Page</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/chego-jewelry-website.jpg"
        alt="Chego jewelry website"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">Chego jewelry website</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/energy-flow-webservice.jpg"
        alt="Energy flow webservice"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">Energy flow webservice</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/fruitbox-online-store.jpg"
        alt="Fruitbox online store"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">Fruitbox online store</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
    <li class="my-projects-item">
      <img
        class="project-img"
        src="/img/img-my-projects/starlight-studio-landing-page.jpg"
        alt="Starlight studio landing page"
      />
      <p class="hard-skills">React, JavaScript, Node JS, Git</p>
      <div class="project-item-box"><h3 class="project-name">Starlight studio landing page</h3>
      <a href="#" class="button-link">
        Visit
        <svg class="link-icon" width="24" height="24">
          <use href="/img/sprite.svg#arrow"></use>
        </svg>
      </a></div>
      
    </li>
  </ul>
  <button id="loadMoreBtn" style="display: none">Load more</button>

  <div id="loader-container" style="display: none">
    <span class="loader"></span>
  </div>
</section>
